DOMAIN_NAME=aigounad.42.fr
# CERTS_=./certificates

# wordpress database
MYSQL_DATABASE=wp_db
MYSQL_USER=aigounad
MYSQL_PASSWORD=placeholder_db_password
MYSQL_ROOT_PASSWORD=placeholder_root_password

# wordpress users
WP_USER=aigounad
WP_USER_PASSWORD=placeholder_wp_user_password
WP_USER_MAIL=aigounad@42.fr
WP_ADMIN=ContentKing_99
WP_ADMIN_PASSWORD=placeholder_wp_admin_password
WP_ADMIN_EMAIL=abdellatifigounad@gmail.com

MYSQL_HOST=mariadb
WP_PATH=/var/www/wordpress
WP_TITLE=inception
WP_USER_ROLE=editor

# ftp user
FTP_USER=aigounad
FTP_PASS=placeholder_ftp_password
